@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
    --color-fire: #FF4040;
    --color-grass: #8CD851;
    --color-steel: #B8B8D0;
    --color-water: #3399FF;
    --color-psychic: #FF66CC;
    --color-ground: #E2BF65;
    --color-ice: #51C4E7;
    --color-flying: #A890F0;
    --color-ghost: #6060B2;
    --color-normal: #A8A878;
    --color-poison: #A040A0;
    --color-rock: #B8A038;
    --color-fighting: #C03028;
    --color-dark: #705848;
    --color-bug: #A8B820;
    --color-dragon: #7038F8;
    --color-electric: #F8D030;
    --color-fairy: #EE99AC;
    --color-shadow: #5A5AA4;
    --color-unknown: #68A090;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #f2f2f2;
}

/* Global */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
}

.logo img {
    width: 150px;
}

header form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #555;
    padding: 15px 20px;
    border-radius: 25px;
}

.form-group input {
    font-family: inherit;
    width: 300px;
    border: none;
    outline: none;
    font-size: 15px;
}

.icon-search {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.btn-search {
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-family: inherit;
    color: #fff;
    background-color: var(--color-primary);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
}

.btn-search:hover {
    background-color: var(--color-primary-hover);
    color: #000;
}

/* Btn Filter */
.container-filter {
    display: flex;
}

.icon-filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.icon-filter .icon {
    width: 30px;
    height: 30px;
    fill: #555;
}

/* Card List Pokemon */
.card-list-pokemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-pokemon {
    cursor: pointer;
    text-decoration: none;
}

.card-img {
	display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
height: 250px;
position: relative;
overflow: hidden;

}

.card-img img {
	width: 100%;
	height: 100%;
}

.card-info {
	padding: 15px;
}

.card-info h3 {
	color: #333;
}

.pokemon-id {
	display: block;
	color: #888;
	margin-bottom: 15px;
}

.card-types {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.card-types span {
	font-size: 12px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
}

/* Types of Pokemon */
.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

/* Container Filters */
.container-filters {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	left: -300px;
	width: 250px;

	color: #555;
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 140px;
	transition: all 0.3s linear;
}

.container-filters.active {
	left: 0;
}

.filter-by-type {
	display: flex;
	flex-direction: column;

	gap: 20px;
}

.filter-by-type span {
	font-weight: 700;
	font-size: 22px;
}

.group-type {
	display: flex;
	gap: 10px;

	margin-left: 15px;
}

.group-type label {
	cursor: pointer;
}

/* 
======================================= 
Styles of Pokemon Single Page
======================================= 
*/

.main-pokemon {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-bottom: 50px;
}

.header-main-pokemon {
	margin-top: 20px;
	display: flex;
	align-items: center;
	position: relative;
}

.number-pokemon {
	position: absolute;
	top: -130px;
	left: 0;

	font-size: 200px;
	font-weight: 700;
	color: #F44336;

}

.container-img-pokemon {
	order: 2;
	flex: 1;
	padding: 25px 25px 25px 0;
	height: 400px;
	}
	
	.container-img-pokemon img {
	height: 100%;
	width: 100%;
	}


.container-info-pokemon {
	display: flex;
	flex-direction: column;

	order: 1;
	flex: 1;
}

.container-info-pokemon {
	display: flex;
	flex-direction: column;

	order: 1;
	flex: 1;
}

.info-pokemon {
	display: flex;
	justify-content: spacbetweene-;

	margin-top: 20px;
}

.container-info-pokemon h1 {
	font-size: 60px;
	}
	
.info-pokemon {
	display: flex;
	justify-content: space-between;

	margin-top: 20px;

}

.group-info{
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
	}
	
	.group-info p {
	font-weight: 700;
	font-size: 20px;
	}

/* Stats */
.container-stats {
	display: flex;
	gap: 50px;
	align-items: center;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
	}
	
	.stat-group {
	display: flex;
	align-items: center;
	gap: 20px;
	}
	
	.stat-group span {
	flex: 20%;
	font-weight: 500;
	font-size: 18px;
	}
	
	.progress-bar {
	width: 100%;
	height: 30px;
	background-color: #F44336;
	border-radius: 10px;
	}
/* Search Page */

.p-search{
	margin-bottom: 30px;
	font-size: 22px;
	}
	
	.p-search span{
	font-weight: 700;
	}
	
	/* Loader */
	
	.container-loader{
	display: flex;
	justify-content: center;
	margin: 200px 0;
	}

/* Btn Load More */

.container-btn-load-more{
	display: flex;
	justify-content: center;

	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load-more{
	border: none;
	padding: 15px 40px;
	font-family: inherit;
	background-color: #F44336;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	}
	
	.btn-load-more:hover{
	background-color: #FFC107;
	color: #000;
	}
